.App {
  text-align: center;
  background-color: blanchedalmond;
  height: 100vh;
}

ul {
  list-style: none;
}

input:checked+span {
  text-decoration: underline;
  background-color: cadetblue;
}

.span-button {
  background-color: blue;
  border-radius: 5px;
  margin: 0 10px;
  padding: 2px;
  color: white;
}

.dell-button {
  width: 20%;
  margin: 0;
  background-color: rgb(131, 2, 2);
}

.add-button {
  background-color: green;
}

.input-field {
  background-color: rgb(204, 253, 253);
  padding: 15px;
  width: 50%;
  margin: 0 auto;
}

button {
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  padding: 3px;
  color: white;
}

input {
  border-radius: 10px;
  border: none;
}

ul {
  padding: 0;
}

li {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px auto;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}